body {
  background: #eee;
  font-family: sans-serif;
  font-size: x-large;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
  font-size: larger;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  width: 200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
}